
/*Remove grid lines from background */

.tick line {
  display: none;
}

/*Move svg to the center */

svg {
  display: block;
  margin: auto;
}

rect.dimple-custom-tooltip-box {
    fill: red !important;
}